@import 'variables';
@import 'card';
@import 'singleAnime';
@import './admin/animeList';

a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;

  .container {
    padding-bottom: 100px;
  }
}

.black-out {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($color: #000000, $alpha: 0.6);
}
