<div id="search-page" class="page mt-3">
  <form method="post" action="">
    <div class="mb-3">
      <label for="keyword" class="form-label">Từ khóa</label>
      <input
        type="text"
        name="q"
        class="form-control"
        id="keyword"
        placeholder="Nhập từ khóa..."
      />
    </div>
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
  </form>
</div>